<html>
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cars</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    </head>
    <body>
      <style>
          @media screen and (max-width: 786px){
              .noshowr{
                  display: none;
              }
          }
        </style>
       <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        
  <a class="navbar-brand">Cars</a></div>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav navbar-right">
     <div class="row">
    <% if(!currentUser){ %>
       <li><a class="btn btn-success"  href="/login">Loginn</a> </li>
      <li><a class="btn btn-success" href="/register">register</a> </li>
    <%  } 
      else{
%> <li><strong><a class="navbar-brand" style="padding: 3px;">Hello <%= currentUser.username %></a></strong></li>
       <li><a href="/logout" class="btn btn-success">Logout</a> </li>
  <%    }%>
      </div>
  </ul>
            </div>   
  </div>
</nav>
<div class="container">
<% if(error && error.length > 0){ %>
 <div class="alert alert-danger" role="alert"><%= error %></div>
 <% } %>
 <% if(success && success.length > 0){ %>
 <div class="alert alert-success" role="alert"><%= success %></div>
 <% } %>
 </div>