<% include partials/header %>
<div class="container" >
<div class="row"> 

<div style="width: 30%; margin: 40px auto;">
<form action="/cars/<%= car._id %>/comments" method="post">
 <h1 style="text-align: center;">Enter new comment to <%= car.name %></h1>
  <div class="form-group">
   <input class="form-control" style="margin: 25px 0 0 0;" type="text" name="comment[text]" placeholder="text">
   </div>
   
    
     <div class="form-group">
     <button class="btn btn-primary btn-large btn-block">Add</button>
</div>
</form>
</div>
</div>
</div>
<% include partials/footer %>