<% include partials/header %>
<div class="container">
<header class="jumbotron">
<div class="container">
<h1>Welcome to cars page</h1> 
<p><a class="btn btn-primary btn-large" href="/cars/new">add new car</a></p>   
</div>
</header>
<div class="row text-center">
    <% car.forEach(function(cars){ %>
   <div class="col-md-3 col-sm-6">
   <div class="thumbnail" >

   <img src="<%= cars.image %>" class=" img-fluid " style="width: 350px; height: 220px;">
   <div class="caption">
       <div><h3><%= cars.name %></h3></div>
   </div>
   </div>
   <p><a href="/cars/<%= cars._id %>" class="btn btn-primary" > More info </a></p>
</div>    
 <% }) %>
 </div>

<% include partials/footer %>
</div> 